
  <button type="button" class="btn btn-lg btn-default"><%= link_to "Home",root_path %></button>
  <button type="button" class="btn btn-lg btn-default"><%= link_to "Appointments",appointments_path %></button>
